result*
*.swp
*.pyc
_build/
*.log
*.log.*
*.pdf
doc/_build
.vscode/
.coverage
build/
dist/
tags
wetest.egg-info
.eggs/
.vagrant/
wetest/bin
*.py@neomake_*.py
.ropeproject/
venv*/
.cache/
no_macros.yml
